@model ChrisMVC.EF.Estoques

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Estoques</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label"></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalArmazenado" class="control-label"></label>
                <input asp-for="LocalArmazenado" class="form-control" />
                <span asp-validation-for="LocalArmazenado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaidaProduto" class="control-label"></label>
                <input asp-for="SaidaProduto" class="form-control" />
                <span asp-validation-for="SaidaProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntradaProduto" class="control-label"></label>
                <input asp-for="EntradaProduto" class="form-control" />
                <span asp-validation-for="EntradaProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntradaData" class="control-label"></label>
                <input asp-for="EntradaData" class="form-control" />
                <span asp-validation-for="EntradaData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetiradaData" class="control-label"></label>
                <input asp-for="RetiradaData" class="form-control" />
                <span asp-validation-for="RetiradaData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
